.main-header {
  font-size: 16px;
  .title {
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
  }
  .nav-links {
    padding: 5px;
    margin-bottom: 10px;
    .link {
      color: #fff;
      text-decoration: none;
      margin: 5px;
      &:hover {
        color: #ff4081;
      }
    }
    .active-link{
      color: #ff4081;
    }
  }
}